<ion-card class="ion-no-margin">
  <div class="image-container">
    <img alt="Silhouette of mountains"
      src="https://cdn.wallapop.com/images/10420/g7/cq/__/c10420p979810797/i4740525541.jpg?pictureSize=W320" />
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-card-content>
    <h2>Sofa nuevo</h2>
    <p class="bids">
      <ion-icon name="logo-tumblr" color="warning"></ion-icon>
      100 pujas
    </p>
    <h2>$250 USD</h2>
  </ion-card-content>
</ion-card>